# --- Fichiers Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# --- Environnement virtuel ---
venv/
ENV/
env/
.venv/

# --- Base de données locale ---
db.sqlite3

# --- Migrations compilées ---
*/migrations/__pycache__/
*/migrations/*.pyc

# --- Fichiers de configuration locaux ---
*.env
.env.*
*.local

# --- Cache et logs ---
*.log
*.pot
*.mo
*.swp
.DS_Store
*.tmp

# --- Fichiers générés par Django ---
staticfiles/
media/

# --- VS Code ---
.vscode/

# --- Python egg ---
*.egg-info/
*.egg

# --- Node.js / Frontend ---
node_modules/
package-lock.json

# --- Docker ---
docker-compose.override.yml
*.dockerignore
*.log
*.env

# --- Autres fichiers temporaires ou IDE ---
.idea/
*.iml
Thumbs.db
