# Python
__pycache__/
*.py[cod]
*.egg-info/
*.env
*.venv
.env
.env.*

# Django staticfiles
staticfiles/
media/

# SQLite
db.sqlite3

# VSCode/PyCharm
.vscode/
.idea/

# Docker
*.log
.DS_Store

# Build
build/
dist/
*.egg
