asgiref==3.9.1
certifi==2025.8.3
cloudinary==1.44.1
Django==5.2.5
django-allauth>=65,<66
django-cloudinary-storage>=0.3,<1
django-sslserver==0.22
djangorestframework==3.16.0
gunicorn>=23,<24
pillow==10.2.0
psycopg[binary]>=3.2,<4
python-dotenv==1.1.1
requests>=2.32,<3
six==1.17.0
sqlparse==0.5.3
stripe>=12,<13
tzdata==2025.2
urllib3==2.5.0
whitenoise>=6.9,<7
