body {
  background-color: #fafafa;
}

.jumbotron .container {
  max-width: 40rem;
}

span i:first-child {
  color: #e9ecef;
}

label {
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

body {
  background-color: #f8f9fa;
}
.table thead {
  background-color: #e9ecef;
}
.btn {
  padding: 0.375rem 0.75rem;
}
.total {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Nombre de lignes max */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Facultatif : hauteur max pour 3 lignes */
}
