{% extends 'template_base.html' %}
{% load i18n %}
{% block titre %}{% translate "Créer un produit" %}{% endblock %}

{% block contenu %}
<div class="container mt-5">
    <h2>{% translate "Ajouter un nouveau produit" %}</h2>
    <form method="POST" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">💾 {% translate "Enregistrer" %}</button>
        <a href="{% url 'shop:liste' %}" class="btn btn-secondary">{% translate "Annuler" %}</a>
    </form>
</div>
{% endblock %}
